<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="logo" />
    </div>
    <nav class="menu">
      <ul>
        <li class="menu-item">
          <a href="#">Главная</a>
        </li>
        <li class="menu-item">
          <a href="#cars">Автомобили</a>
        </li>
        <li class="menu-item">
          <a href="#price">Бронирование авто</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <section class="main" [ngStyle]="bgPos">
    <div class="container">
      <div class="main-info">
        <h1 class="main-title">Аренда премиальных автомобилей</h1>
        <div class="main-text">
          В нашем клубе имеется солидная коллекция спортивных автомобилей — от
          достаточно распространенных серийных машин до настоящего гоночного
          эксклюзива. Воспользуйтесь уникальной возможностью побывать за рулем
          настоящей легенды и узнать, на что она способна за пределами гоночной
          трассы!
        </div>
        <div class="main-action">
          <button class="button" id="main-action" type="button">
            Посмотреть автомобили
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="cars" id="cars">
    <div class="container">
      <h2 class="sub-title">Наш автопарк</h2>
      <div class="car-items">
        <div class="car-item">
          <div class="car-item-image">
            <img src="../assets/images/1.png" alt="car 1" />
          </div>
          <div class="car-item-title">Lamborghini Huracan Spyder</div>
          <div class="car-item-info">
            <div class="car-item-point">
              <img src="../assets/images/gear.svg" alt="gear" />
              <div>Привод</div>
              <div>полный</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/wheel.svg" alt="wheel" />
              <div>Двигатель</div>
              <div>5.2 л</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/belt.svg" alt="belt" />
              <div>Кол-во мест</div>
              <div>2</div>
            </div>
          </div>
          <div class="car-item-action">
            <button class="button car-button">Забронировать</button>
          </div>
        </div>
        <div class="car-item">
          <div class="car-item-image">
            <img src="../assets/images/2.png" alt="car 2" />
          </div>
          <div class="car-item-title">Chevrolet Corvette</div>
          <div class="car-item-info">
            <div class="car-item-point">
              <img src="../assets/images/gear.svg" alt="gear" />
              <div>Привод</div>
              <div>полный</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/wheel.svg" alt="wheel" />
              <div>Двигатель</div>
              <div>6.2 л</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/belt.svg" alt="belt" />
              <div>Кол-во мест</div>
              <div>2</div>
            </div>
          </div>
          <div class="car-item-action">
            <button class="button car-button">Забронировать</button>
          </div>
        </div>
        <div class="car-item">
          <div class="car-item-image">
            <img src="../assets/images/3.png" alt="car 3" />
          </div>
          <div class="car-item-title">Ferrari California</div>
          <div class="car-item-info">
            <div class="car-item-point">
              <img src="../assets/images/gear.svg" alt="gear" />
              <div>Привод</div>
              <div>полный</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/wheel.svg" alt="wheel" />
              <div>Двигатель</div>
              <div>3.9 л</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/belt.svg" alt="belt" />
              <div>Кол-во мест</div>
              <div>4</div>
            </div>
          </div>
          <div class="car-item-action">
            <button class="button car-button">Забронировать</button>
          </div>
        </div>
        <div class="car-item">
          <div class="car-item-image">
            <img src="../assets/images/4.png" alt="car 4" />
          </div>
          <div class="car-item-title">Lamborghini Urus</div>
          <div class="car-item-info">
            <div class="car-item-point">
              <img src="../assets/images/gear.svg" alt="gear" />
              <div>Привод</div>
              <div>полный</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/wheel.svg" alt="wheel" />
              <div>Двигатель</div>
              <div>4.0 л</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/belt.svg" alt="belt" />
              <div>Кол-во мест</div>
              <div>5</div>
            </div>
          </div>
          <div class="car-item-action">
            <button class="button car-button">Забронировать</button>
          </div>
        </div>
        <div class="car-item">
          <div class="car-item-image">
            <img src="../assets/images/5.png" alt="car 5" />
          </div>
          <div class="car-item-title">Audi R8</div>
          <div class="car-item-info">
            <div class="car-item-point">
              <img src="../assets/images/gear.svg" alt="gear" />
              <div>Привод</div>
              <div>полный</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/wheel.svg" alt="wheel" />
              <div>Двигатель</div>
              <div>5.2 л</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/belt.svg" alt="belt" />
              <div>Кол-во мест</div>
              <div>2</div>
            </div>
          </div>
          <div class="car-item-action">
            <button class="button car-button">Забронировать</button>
          </div>
        </div>
        <div class="car-item">
          <div class="car-item-image">
            <img src="../assets/images/6.png" alt="car 6" />
          </div>
          <div class="car-item-title">Chevrolet Camaro</div>
          <div class="car-item-info">
            <div class="car-item-point">
              <img src="../assets/images/gear.svg" alt="gear" />
              <div>Привод</div>
              <div>полный</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/wheel.svg" alt="wheel" />
              <div>Двигатель</div>
              <div>2.0 л</div>
            </div>
            <div class="car-item-point">
              <img src="../assets/images/belt.svg" alt="belt" />
              <div>Кол-во мест</div>
              <div>4</div>
            </div>
          </div>
          <div class="car-item-action">
            <button class="button car-button">Забронировать</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="price" id="price">
    <div class="container">
      <h2 class="sub-title">Узнать цену и забронировать</h2>
      <div class="price-text">
        Заполните данные, и мы перезвоним вам для уточнения всех деталей
        бронирования
      </div>
      <form class="price-form" [formGroup]="priceForm">
        <input
          formControlName="name"
          type="text"
          class="price-input"
          id="name"
          placeholder="Ваше имя"
        />
        <input
          formControlName="phone"
          type="tel"
          class="price-input"
          id="phone"
          placeholder="Ваш телефон"
        />
        <input
          formControlName="car"
          type="text"
          class="price-input"
          id="car"
          placeholder="Автомобиль, который вас интересует"
        />
        <button
          class="button"
          id="price-action"
          type="button"
          (click)="onSubmit()"
          [disabled]="!priceForm.valid"
        >
          Узнать цену
        </button>
      </form>
      <img src="../assets/images/rolls.png" alt="rolls" class="price-image" />
    </div>
  </section>
</main>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="logo" />
    </div>
    <div class="rights">Все права защищены</div>
  </div>
</footer>
